<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>List of all movies</title>
</head>
<body>
<h1>List of all movies</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Release Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}">Movie Title</td>
        <td th:text="${movie.releaseYear}">2016</td>
    </tr>
    </tbody>
</table>
</body>
</html>